@import "tailwindcss";

@theme {
  --radius: 15px;
  --font-sans: "Poppins", sans-serif;
  --color-text: #475569;
  --text-base: 14px;
  --text-sm: 12px;
  --text-xs: 10px;
  --text-lg: 17px;
}

@layer base {
  body {
    color: var(--color-text);
    font-size: var(--text-base);
  }
  button {
    cursor: pointer;
  }
}
